*{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-family: "Courier New", Courier, monospace;
    color:#898AA6;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid #C9BBCF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  a:hover, a:active {
    background-color: #898AA6; 
    color: white; 
    border: 2px solid #898AA6;
  }
.button {
    background-color: #B7D3DF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #B7D3DF;
}

.button1:hover {
    background-color: #B7D3DF;
    color: white;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 50px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=password]:focus {
    border: 3px solid #555;
  }